.main-header {
	padding-top: 83px;
}

.main-header {
    .wrapper {
        position: relative;
    }
}

.slider-button,
.logo,
.phone, {
	display: none;
}

.slider-box {
	position: relative;
}

.main-bg {
	position: absolute;
	top: -83px;
    left: -100px;
}

.intro-column {
    position: absolute;
    max-width: 325px;
    top: 170px;
    left: 190px;
}
