.portfolio {
    .wrapper {
        .headline {
            margin-bottom: 66px;
        }
        .portfolio-nav {
            display: flex;
            flex-wrap: wrap;
            .portfolio-item {
                margin-right: 45px;
                .current-ref {
                    font-weight: 600;
                    border-bottom: 1px solid #000;
                    padding-bottom: 10px;
                }
            }  
        } 
    }    
}    