.service-column {
    .button-white {
        max-width: 210px;
        padding: 16px 0;
        color: @headline-color; 
        border: 2px solid #00203a;
        text-align: center;
    &:hover {
            color: @color-white;
            border-color: @color-white;         
        }
    }
}
    