@text-grey: #5e5e5e;
@color-body: #bbb;
@phone-color: #252525;
@second-block: #1a292f;
@light-grey: #7d7d7d;
@headline-color: #00203a;
@color-white: #ffffff;
@color-hover: #f8a25a;
@color-active: #ef862f;
@light-orange: #efb172;
@color-copyright: #ffc487;